@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Arial:ital,wght@0,400;0,700;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");

body {
  margin: 0;
  font-family:  "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.domion_font {
  font-family: "Damion", cursive;
}

/* FADE IN LEFT ANIMATION */
.efx__fadeIn {
  animation: fadeInLeft 1s ease 0s 1 normal forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* FADE IN RIGHT ANIMATION */
.efx__fadeInRight {
  animation: fadeInRight 1s ease 0s 1 normal forwards;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
